<div class="hompage-container">
  <div class="inner">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-xxl-8 col-xl-6 order-xl-1 order-2 d-flex align-items-center"
        >
          <div class="d-flex flex-column">
            <p>
              Hi, I'm <span class="text-primary">Ekrem!</span> Creative
              <span>Coder</span> Based in Ankara
            </p>
            <span
              >I'm a Ankara based
              <span class="text-primary text-semibold">Angular</span> developer
              <br />
              with 4+ years of experience</span
            >

            <div>
              <a
                href="mailto:ekrem-kocak@outlook.com"
                target="_blank"
                class="btn btn-dark p-3 px-4 mt-4"
              >
                Let's talk
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-xxl-4 col-xl-6 order-xl-2 order-1 d-flex align-items-center"
        >
          <img class="img-fluid" src="/assets/images/angular.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
